.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}
body {
  padding: 10px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
    border-radius:17px;
}

.slider.round:before {
    border-radius:50%;
}

.on-off-text {
    margin-left:.5em;
    font-size:.75em;
}

.tag {
    padding:.25em .375em;
    border-radius:.125em;
    color:white;
    font-size:.75em;
}

.processing{
    background-color:#007bff
}
.completed{
    background-color:#28a745
}
.unknown{
    background-color:#dc3545
}
.tagify{    
    width: 100%;
    max-width: 700px;
  }

#imageDetailTable {
    border-collapse: collapse; /* This property is used to merge adjacent table borders */
    width: 100%; /* Set the table width to fit the container */
    border: 1px solid #0a58ca; /* Set the border style and color */
  }
  
#imageDetailTable tr td {
    border: 1px solid #0a58ca; /* Set the border style and color for table cells */
    padding: 8px; /* Add some padding to the cells for better appearance */
}

legend {
  font-size:1rem !important;
  padding:2px !important;
  background: #fff;
  border: 2px solid #333; 
  border-radius: 4px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

legend:hover {
  background-color: #45b39d ;
  cursor: pointer;
  
}
.stock-image-thumbnail{
  box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}